* {
    margin: 0;
    padding: 0;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
}
a {
    color: #00669d;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
/* Begin of styles for the demonstration (you can remove them) */
a.expand {
    width: 150px;
    display: block;
    margin: 10px 0 0;
}
a.expand:hover {
    height: 500px;
}
/* End of of styles for the demonstration */
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 1000px;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
/*    height: 150px;*/
/*    background: #DFDFDF;*/
}

#header ul.nav > li.active > a {
    color: #000;
    text-decoration: none;
}

#header > .header-logo-block > .logo {
    font-size: 25px;
    line-height: 25px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
/*    border-left: 250px solid #DFDFDF;*/
    height: 1%;
    position: relative;
}
#middle:after {
    content: '';
    clear: both;
    display: table;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}
#content {
/*    padding: 0 20px;*/
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
    float: left;
    width: 250px;
    position: relative;
/*    background: #DFDFDF;*/
    left: -250px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
/*    height: 100px;*/
/*    background: #DFDFDF;*/
}